 <!-- Abone Ol Start -->
<div class="container-fluid">
    <div class="row">
        <div class="subscribe-newsletter">
            <div class="subscribe-heading">
                <h2>Abone Ol</h2>
            </div>
            <form method="post">
                <div class="wrap-input100 justify-content-center" data-validate="Geçerli bir e-posta giriniz: mail@mail.com ">
                    <input class="input100" type="text" name="Mail" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <button class="button ">Abone Ol</button>
            </form>
        </div>
    </div>
</div>
<!-- Abone Ol End -->
