 <!-- Abone Ol Start -->
<div class="container-fluid">
    <div class="row">
        <div class="subscribe-newsletter">
            <div class="subscribe-heading">
                <h2>Abone Ol</h2>
            </div>
            <form method="post">
                <input class="input100 m-auto" type="text" name="Mail" placeholder="Email">
                <button class="button ">Abone Ol</button>
            </form>
        </div>
    </div>
</div>
<!-- Abone Ol End -->

<style>
    input{
        border:0;
    }
</style>