@model IEnumerable<EntityLayer.Concrete.Service>

<!-- Services Start -->
<div class="services">
    <div class="services-title text-center mt-3">
        <h3>Hizmet Başlık Açıklaması</h3>
    </div>
    <div class="container text-center mt-3">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-12 col-lg-4">
                    <div class="services-content">
                        <div class="services-svg">
                            <img style=" width: 100px; height: 100px; margin: auto; padding: 15px 0 15px 0;" src="@item.ImagePath" />
                        </div>
                        <h4 class="mt-5">@item.Title</h4>
                        <p>@item.Content</p>
                    </div>
                </div>
                
            }
        </div>
    </div>
</div>
<!-- Services End -->
