<!-- Services Start -->
<div class="services">
    <div class="services-title text-center mt-5">
        <h3>Hizmet Başlık Açıklaması</h3>
    </div>
    <div class="container text-center mt-3">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="services-content">
                    <div class="services-svg">
                        <svg width="70" height="72" viewBox="0 0 70 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.44669 0H60.4742C65.7352 0 70 4.26484 70 9.52578V41.4118C70 46.5882 65.749 50.8235 60.5533 50.8235H40.3374V61.4588H48.1781C51.1066 61.4588 53.4683 63.8118 53.4683 66.7294C53.4683 69.6471 51.1066 72 48.1781 72H21.8219C18.8934 72 16.5317 69.6471 16.5317 66.7294C16.5317 63.8118 18.8934 61.4588 21.8219 61.4588H29.6626V50.8235H9.44669C4.25101 50.8235 0 46.5882 0 41.4118V9.41177C0 4.23529 4.25101 0 9.44669 0Z" fill="#74DCDF" />
                            <path d="M29.6656 61.4574V50.8221H40.3403V61.4574H48.1811C51.1096 61.4574 53.4712 63.8104 53.4712 66.728C53.4712 69.6457 51.1096 71.9986 48.1811 71.9986H21.8248C18.8963 71.9986 16.5347 69.6457 16.5347 66.728C16.5347 63.8104 18.8963 61.4574 21.8248 61.4574H29.6656Z" fill="#5CC5C7" />
                        </svg>
                    </div>
                    <h4>Hizmet 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="services-content">
                    <div class="services-svg">
                        <svg width="70" height="35" viewBox="0 0 70 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M70.0001 12.8339C68.8438 13.0667 61.7514 13.8426 56.2779 13.0667L53.5026 26.3357C53.5026 26.4133 53.3484 27.034 53.1942 27.2668C52.9629 27.4996 49.4938 30.8363 46.256 33.1642C47.4895 33.4745 48.6458 33.7849 50.1106 34.0177C57.5884 35.1817 62.291 35.1817 67.1478 33.8625L62.1368 23.0766L70.0001 12.8339Z" fill="#5CC5C7" />
                            <path d="M45.7892 26.4919L44.4787 32.0789C46.483 30.6822 48.8729 28.6646 50.4918 27.1127C49.4896 26.9575 47.7936 26.7247 45.7892 26.4919Z" fill="#5CC5C7" />
                            <path d="M16.1892 26.2575L13.2597 13.2989C7.86332 13.9973 1.07928 13.2989 0 12.9885L7.86332 23.2313L2.77529 34.0172C7.63205 35.2587 12.4117 35.3363 19.8125 34.1724C21.2772 33.9396 22.5107 33.6292 23.6671 33.3188C20.4292 30.9909 16.9601 27.5767 16.7288 27.4215C16.7288 27.2663 16.1892 26.5679 16.1892 26.2575Z" fill="#5CC5C7" />
                            <path d="M19.1177 27.0339C20.7366 28.5858 23.2806 30.7585 25.4392 32.2328L24.0516 26.4131C21.9701 26.6459 20.197 26.8787 19.1177 27.0339Z" fill="#5CC5C7" />
                            <path d="M46.1015 25.0941C47.8747 25.3269 50.0332 25.4821 51.8063 25.9477C51.8834 25.8701 51.9605 25.7925 52.0376 25.7925C53.5794 18.4984 55.1212 11.2044 56.6631 3.83269C44.791 -1.05589 25.0556 -1.52147 12.4126 3.91029C14.1086 11.2044 15.7275 18.576 17.4235 25.8701C17.5006 25.8701 17.5777 25.8701 17.5777 25.8701C26.3661 23.3094 37.6986 24.163 46.1015 25.0941ZM35.0004 18.188L29.0643 21.0591L29.9124 14.4634L25.364 9.65243L31.8396 8.41089L35.0004 2.59115L38.1611 8.41089L44.6368 9.65243L40.0884 14.4634L40.9364 21.0591L35.0004 18.188Z" fill="#74DCDF" />
                        </svg>

                    </div>
                    <h4>Hizmet 2</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="services-content">
                    <div class="services-svg">
                        <svg width="70" height="67" viewBox="0 0 70 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 53.4478C0 49.8596 2.90888 46.9507 6.49716 46.9507H20.5974V66.0274H6.49716C2.90888 66.0274 0 63.1186 0 59.5303V53.4478Z" fill="#5CC5C7" />
                            <path d="M8.98543 5.47961H5.94026C2.65954 5.47961 0 8.13916 0 11.4199V48.4714C0.967662 46.1214 5.94421 43.9096 8.98543 43.9096V5.47961Z" fill="#5CC5C7" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M39.7684 21.6533L29.8776 31.5441L28.8462 32.5755C28.7996 32.6221 28.7635 32.678 28.7402 32.7397L23.749 45.9561C23.6361 46.2551 23.9285 46.5475 24.2275 46.4346L37.4439 41.4433C37.5055 41.4201 37.5615 41.3839 37.6081 41.3373L38.6394 40.306L57.2921 21.6533H64.9719V66.0275H11.7505V46.7434V21.6533H39.7684Z" fill="#5CC5C7" />
                            <path d="M68.031 4.87346L65.1265 1.96894C64.0391 0.881523 62.276 0.881525 61.1886 1.96894L31.7802 31.3773C34.3706 31.3284 38.7399 35.6782 38.6226 38.2197L68.031 8.81134C69.1184 7.72392 69.1184 5.96088 68.031 4.87346Z" fill="#74DCDF" />
                            <path d="M26.4793 44.0085L37.4318 39.2891C37.5661 39.2313 37.669 39.1136 37.6837 38.9681C37.9276 36.5603 33.589 32.3775 31.0704 32.3419C30.9043 32.3395 30.7622 32.4488 30.6965 32.6014L25.9915 43.5206C25.8586 43.829 26.1709 44.1414 26.4793 44.0085Z" fill="#74DCDF" />
                        </svg>

                    </div>
                    <h4>Hizmet 3</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="services-content">
                    <div class="services-svg">
                        <svg width="70" height="53" viewBox="0 0 70 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M70 2.52381C70 1.85445 69.7366 1.21251 69.2678 0.739207C68.7989 0.265901 68.163 0 67.5 0H2.5C1.83696 0 1.20107 0.265901 0.732233 0.739207C0.263392 1.21251 0 1.85445 0 2.52381V7.57143H70V2.52381Z" fill="#74DCDF" />
                            <path d="M0 50.4762C0 51.1455 0.263392 51.7875 0.732233 52.2608C1.20107 52.7341 1.83696 53 2.5 53H67.5C68.163 53 68.7989 52.7341 69.2678 52.2608C69.7366 51.7875 70 51.1455 70 50.4762V12.619H0V50.4762ZM8.225 38.589L20.725 25.97C21.1934 25.4999 21.827 25.2361 22.4875 25.2361C23.148 25.2361 23.7816 25.4999 24.25 25.97L30.175 31.9514L40.925 23.2695C41.3398 22.935 41.8492 22.7425 42.3796 22.7198C42.91 22.6971 43.4337 22.8454 43.875 23.1433L49.675 27.03L58.225 18.3985C58.7033 17.9851 59.3184 17.769 59.9476 17.7936C60.5768 17.8181 61.1737 18.0814 61.6189 18.5309C62.0641 18.9804 62.325 19.5829 62.3493 20.2181C62.3736 20.8533 62.1596 21.4743 61.75 21.9571L51.75 32.0524C51.3432 32.4658 50.8072 32.7243 50.233 32.7841C49.6588 32.8439 49.0819 32.7013 48.6 32.3805L42.625 28.3676L31.55 37.3019C31.071 37.6898 30.4674 37.8862 29.8541 37.8537C29.2409 37.8211 28.661 37.5618 28.225 37.1252L22.5 31.3205L11.775 42.1728C11.2967 42.5863 10.6816 42.8024 10.0524 42.7778C9.42318 42.7533 8.82633 42.49 8.38109 42.0405C7.93585 41.591 7.67502 40.9885 7.65072 40.3533C7.62642 39.7181 7.84043 39.0971 8.25 38.6143L8.225 38.589Z" fill="#5CC5C7" />
                        </svg>

                    </div>
                    <h4>Hizmet 4</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="services-content">
                    <div class="services-svg">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.80654 34.0932H14.1326C14.3747 34.0933 14.6069 34.1895 14.7781 34.3608C14.9493 34.532 15.0455 34.7642 15.0456 35.0063C15.0456 36.3059 15.5618 37.5523 16.4807 38.4713C17.3996 39.3902 18.6458 39.9065 19.9453 39.9065C21.2448 39.9065 22.4911 39.3902 23.41 38.4713C24.3289 37.5523 24.8451 36.3059 24.8451 35.0063C24.8452 34.7642 24.9414 34.532 25.1125 34.3608C25.2837 34.1895 25.5159 34.0933 25.758 34.0932H34.0841V25.6934C34.0842 25.4512 34.1804 25.219 34.3516 25.0478C34.5228 24.8766 34.7549 24.7804 34.9971 24.7804C36.2949 24.7804 37.5396 24.2648 38.4573 23.347C39.375 22.4292 39.8906 21.1844 39.8906 19.8864C39.8906 18.5885 39.375 17.3437 38.4573 16.4259C37.5396 15.5081 36.2949 14.9925 34.9971 14.9925C34.7549 14.9924 34.5228 14.8962 34.3516 14.725C34.1804 14.5538 34.0842 14.3216 34.0841 14.0795V5.81323H26.6092C26.3899 7.42507 25.5938 8.90279 24.3686 9.97268C23.1433 11.0426 21.5719 11.6321 19.9453 11.6321C18.3188 11.6321 16.7473 11.0426 15.5221 9.97268C14.2968 8.90279 13.5008 7.42507 13.2815 5.81323H5.80654V14.0794C5.80647 14.3216 5.71026 14.5538 5.53905 14.725C5.36784 14.8962 5.13566 14.9924 4.89354 14.9924C3.5957 14.9924 2.351 15.508 1.43329 16.4258C0.515568 17.3436 0 18.5884 0 19.8864C0 21.1844 0.515568 22.4292 1.43329 23.3469C2.351 24.2647 3.5957 24.7804 4.89354 24.7804C5.13566 24.7804 5.36784 24.8766 5.53904 25.0478C5.71025 25.219 5.80647 25.4512 5.80654 25.6934V34.0932ZM28.2776 49.9883L28.278 49.9841L28.2776 49.98C28.2798 48.3565 28.8686 46.7885 29.9357 45.565C31.0028 44.3415 32.4761 43.545 34.0841 43.3223V35.9193H26.6092C26.3867 37.5287 25.5894 39.0033 24.3645 40.0705C23.1396 41.1378 21.5699 41.7258 19.9453 41.7258C18.3208 41.7258 16.7511 41.1378 15.5262 40.0705C14.3013 39.0033 13.504 37.5287 13.2815 35.9193H5.80654V43.3223C7.41822 43.5416 8.89581 44.3377 9.96561 45.563C11.0354 46.7883 11.6249 48.3599 11.6249 49.9865C11.6249 51.6132 11.0354 53.1847 9.96561 54.41C8.89581 55.6354 7.41822 56.4314 5.80654 56.6507V64.1868H14.1326C14.3747 64.1869 14.6069 64.2831 14.7781 64.4543C14.9493 64.6255 15.0455 64.8577 15.0456 65.0998C15.0456 66.3995 15.5618 67.6458 16.4807 68.5648C17.3996 69.4838 18.6458 70 19.9453 70C21.2448 70 22.4911 69.4838 23.41 68.5648C24.3289 67.6458 24.8451 66.3995 24.8451 65.0998C24.8452 64.8577 24.9414 64.6255 25.1126 64.4543C25.2837 64.2831 25.5159 64.1869 25.758 64.1868H34.0841V56.659C32.4746 56.4343 31.0006 55.6354 29.9336 54.4096C28.8665 53.1838 28.2784 51.6136 28.2776 49.9883ZM65.1006 45.095C64.8584 45.0949 64.6263 44.9987 64.4551 44.8275C64.2839 44.6562 64.1877 44.424 64.1876 44.1819V35.9282H55.8615C55.6194 35.9281 55.3873 35.8319 55.2161 35.6607C55.0449 35.4895 54.9487 35.2573 54.9486 35.0152C54.9446 33.7182 54.4266 32.4757 53.5081 31.5601C52.5897 30.6444 51.3457 30.1302 50.0488 30.1302C48.752 30.1302 47.508 30.6444 46.5896 31.5601C45.6711 32.4757 45.1531 33.7182 45.1491 35.0152C45.149 35.2573 45.0528 35.4895 44.8816 35.6607C44.7104 35.8319 44.4782 35.9281 44.2361 35.9282H35.91V44.1819C35.91 44.424 35.8138 44.6562 35.6426 44.8275C35.4714 44.9987 35.2392 45.0949 34.9971 45.095C33.7014 45.099 32.4602 45.6166 31.5454 46.5343C30.6307 47.452 30.117 48.6949 30.117 49.9907C30.117 51.2864 30.6307 52.5294 31.5454 53.447C32.4602 54.3647 33.7014 54.8823 34.9971 54.8863C35.2392 54.8864 35.4714 54.9826 35.6426 55.1538C35.8138 55.3251 35.91 55.5573 35.91 55.7994V64.1963H43.3849C43.6071 62.5867 44.4043 61.1119 45.6292 60.0444C46.8542 58.9768 48.424 58.3887 50.0488 58.3887C51.6736 58.3887 53.2434 58.9768 54.4684 60.0444C55.6933 61.1119 56.4905 62.5867 56.7127 64.1963H64.1876V55.8078C64.1877 55.5656 64.2839 55.3334 64.4551 55.1622C64.6263 54.991 64.8584 54.8948 65.1006 54.8947C66.4 54.8947 67.6462 54.3785 68.565 53.4596C69.4838 52.5407 70 51.2944 70 49.9948C70 48.6953 69.4838 47.449 68.565 46.5301C67.6462 45.6112 66.4 45.095 65.1006 45.095Z" fill="#5CC5C7" />
                            <path d="M35.9102 13.2282V5.8132H44.2362C44.4783 5.81314 44.7105 5.71694 44.8817 5.54573C45.0529 5.37452 45.1491 5.14233 45.1492 4.90019C45.1492 3.60058 45.6654 2.3542 46.5843 1.43523C47.5032 0.516269 48.7495 0 50.049 0C51.3485 0 52.5947 0.516269 53.5136 1.43523C54.4325 2.3542 54.9487 3.60058 54.9487 4.90019C54.9488 5.14232 55.045 5.37451 55.2162 5.54572C55.3874 5.71693 55.6195 5.81314 55.8616 5.8132H64.1877V13.2282C62.5788 13.449 61.1043 14.245 60.0368 15.469C58.9694 16.693 58.3813 18.2622 58.3813 19.8864C58.3813 21.5105 58.9694 23.0797 60.0368 24.3037C61.1043 25.5278 62.5788 26.3238 64.1877 26.5446V34.0932H56.7128C56.4798 32.492 55.6782 31.0281 54.4545 29.9695C53.2308 28.9109 51.6669 28.3283 50.0489 28.3283C48.4309 28.3283 46.8671 28.9109 45.6434 29.9695C44.4197 31.0281 43.618 32.492 43.385 34.0932H35.9102V26.5446C37.5214 26.3268 38.999 25.532 40.069 24.3077C41.1389 23.0833 41.7286 21.5124 41.7286 19.8864C41.7286 18.2603 41.1389 16.6895 40.069 15.4651C38.999 14.2407 37.5214 13.4459 35.9102 13.2282Z" fill="#74DCDF" />
                        </svg>

                    </div>
                    <h4>Hizmet 5</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="services-content">
                    <div class="services-svg">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3546 23.0081V46.9886C-4.1374 46.9886 -4.09901 23.0081 12.3546 23.0081ZM19.208 46.9886V67.3878C19.208 68.488 20.0748 69.0678 21.1059 69.0678C25.765 69.0678 29.576 65.2892 29.576 60.6698V46.9886H38.9951L63.6876 69.7316C64.3313 70.3264 65.3579 69.8653 65.3686 69.0076V41.9726C68.0932 40.8105 70 38.1259 70 34.9988C70 31.8708 68.0932 29.1871 65.3686 28.0241V0.990875C65.3686 0.0889422 64.2563 -0.333258 63.6412 0.309336L38.9995 23.0081H16.3567V46.9886H19.208Z" fill="#5CC5C7" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3546 23.0081V46.9885C-4.1374 46.9885 -4.09901 23.0081 12.3546 23.0081Z" fill="#5CC5C7" />
                            <path d="M19.2083 67.3883V46.989H29.5763V60.6703C29.5763 65.2897 25.7653 69.0682 21.1062 69.0682C20.0751 69.0682 19.2083 68.4885 19.2083 67.3883Z" fill="#74DCDF" />
                            <path d="M70.0003 34.9992C70.0003 38.1264 68.0934 40.8109 65.3689 41.9731V28.0245C68.0934 29.1876 70.0003 31.8712 70.0003 34.9992Z" fill="#74DCDF" />
                        </svg>

                    </div>
                    <h4>Hizmet 6</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
