@model IEnumerable<EntityLayer.Concrete.SocialMedia>

@foreach (var item in Model)
{
    <a href="@item.Address">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x navbar-social-media-circle"></i>
            <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
        </span>
    </a>



}
