<div class="main-about">
    <div class="container" style="padding:50px;">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="main-about-content" style="padding:30px;">
                    <!-- About Content Start -->
                    <h3 class="main-about-content-subTitle">Şirket Hakkında Ana Sayfa Hakkımda Başlık</h3>
                    <div class="people-card" style="margin-top:50px; width:400px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="~/yipa-frontend/assets/images/featureimg.png" style="width:40px; height:40px; margin-left:50px;" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <h6>Kişi Adı ve Soyadı</h6>
                                    <p>Unvan</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <p class="main-about-content-p">Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <!-- About Content End -->
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <img src="~/yipa-frontend/assets/images/featureimg2.png" style="width:500px; height:500px; margin-left:100px;" alt="Ana Sayfa Hakkımda Resim">
            </div>
        </div>
    </div>
</div>
