
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>YİPA Blog Kontrol Paneli</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/ControlPanelAssets/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/ControlPanelAssets/css/style.css" rel="stylesheet">

</head>

<body>

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="~/Admin/Index">
                    <b class="logo-abbr"><img src="~/ControlPanelAssets/images/logo.png" alt=""> </b>
                    <div class="brand-title">
                        <h1 class="text-white ml-5">YİPA</h1>
                    </div>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Ara" aria-label="Ara">
                        <div class="drop-down   d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Ara">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-email-outline"></i>
                                <span class="badge gradient-1 badge-pill badge-primary">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">3 Yeni Mesaj</span>

                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/1.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Saiful Islam</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/2.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Adam Smith</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Can you do me a favour?</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/3.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Barak Obama</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="images/avatar/4.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Hilari Clinton</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hello</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                                              
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">KONTROL PANELİ</li>
                    <li>
                        <a href="~/Admin/Index" expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Ana Sayfa</span>
                        </a>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a href="~/Admin/BlogList" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Bloglar</span>
                        </a>

                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a href="~/Admin/AuthorList" aria-expanded="false">
                            <i class="icon-user menu-icon"></i><span class="nav-text">Yazarlar</span>
                        </a>

                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a href="~/Admin/CommentList" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Yorumlar</span>
                        </a>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a href="~/Admin/AboutList" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Hakkımızda</span>
                        </a>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a href="~/Admin/CategoryList" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Kategoriler</span>
                        </a>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a href="~/Admin/ServiceList" aria-expanded="false">
                            <i class="icon-screen-smartphone menu-icon"></i><span class="nav-text">Hizmetler</span>
                        </a>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a href="~/Admin/NewsletterList" aria-expanded="false">
                            <i class="icon-diamond menu-icon"></i><span class="nav-text">Aboneler</span>
                        </a>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a href="~/Admin/SocialMediaList" aria-expanded="false">
                            <i class="icon-social-instagram menu-icon"></i><span class="nav-text">Sosyal Medya</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">İletişim</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/Admin/ContactList">Gelen Kutusu</a></li>
                            <li><a href="/Admin/SentList">Gönderilenler</a></li>
                            <li><a href="/Admin/SendMessage">Mail Gönder</a></li>
                        </ul>
                    </li>
                  
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-graph menu-icon"></i> <span class="nav-text">Grafikler</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./chart-flot.html">Flot</a></li>
                            <li><a href="./chart-morris.html">Morris</a></li>
                        </ul>
                    </li>
             
                    <li>
                        <a " href="~/Home/Index" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Ön Yüz</span>
                        </a>

                    </li>

                    <li>
                        <a  href="/Login/LogOut" aria-expanded="false">
                            <i class="icon-key"></i><span class="nav-text">Çıkış Yap</span>
                        </a>

                    </li>
                  


                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container mt-5">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
       
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/ControlPanelAssets/plugins/common/common.min.js"></script>
    <script src="~/ControlPanelAssets/js/custom.min.js"></script>
    <script src="~/ControlPanelAssets/js/settings.js"></script>
    <script src="~/ControlPanelAssets/js/gleek.js"></script>
    <script src="~/ControlPanelAssets/js/styleSwitcher.js"></script>

</body>

</html>
