

<div class="col-lg-6 col-sm-12">
     <h2 class="mb-5">İletişim Bilgileri</h2>
     <p class="info-contact">Ad:  Yiğit</p>
    <p class="info-contact">Soyad:  Parmaksız</p>
    <p class="info-contact">E-Posta:  destek@yipa.com</p>
</div>

<style>
    .info-contact {
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        margin: 25px;
    }
</style>
