@model IEnumerable<EntityLayer.Concrete.SocialMedia>
<!-- Footer Start -->
<footer class="footer">
    <div class="container footer-wrap">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <img src="~/yipa-frontend/assets/images/featureimg.png" style="width:50px; height:50px;" alt="Logo">
                <div class="navbar-social-media mt-5">
                    @foreach (var item in Model)
                    {
                        <a href="@item.Address">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x navbar-social-media-circle"></i>
                                <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    }

                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <h5>Menü</h5>
                            <ul class="footer-menu-link">
                                <li> <a href="#" class="footer-link">Ana Sayfa</a> </li>
                                <li> <a href="#" class="footer-link">Hakkımızda</a> </li>
                                <li> <a href="#" class="footer-link">Hizmetlerimiz</a> </li>
                                <li> <a href="#" class="footer-link">Blog</a> </li>
                                <li> <a href="#" class="footer-link">İletişim</a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <h5>Yasal Bilgiler</h5>
                            <ul class="footer-menu-link">
                                <li> <a href="#" class="footer-link">Kullanım Koşulları</a> </li>
                                <li> <a href="#" class="footer-link">Yasal Bilgiler</a> </li>
                                <li> <a href="#" class="footer-link">Gizlilik Politikası</a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <h5>YİPA Danışmanlık</h5>
                            <p class="mt-4 footer-link" style="line-height:25px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <p>© Copyright 2021 YİPA Danışmanlık All Rights Reserved.</p>
    </div>
</footer>
<!-- Footer End -->
