 <!-- Header Start -->
<div class="_header_online_wrap" style="margin-bottom:350px;">
    <div class="container-fluid">
        <div class="row">
            <div class="_header_online_content">

                <div class="_header_online_content_txt">
                    <h4 class="_header_online_content_title1">YİPA Ana Sayfa</h4>
                    <p class="_header_online_content_title2">Ana Sayfa Açıklaması</p>
                </div>



            </div>

            <div class="_header_online_img">
                <img src="~/yipa-frontend/assets/images/back.png" alt="header-back">
            </div>

        </div>
    </div>
</div>
<!-- Header End -->
