@model IEnumerable<EntityLayer.Concrete.About>

<!-- Main Page About Start -->
<div class="main-about">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-sm-12 col-lg-6">
                <a href="/About/Index">
                    <img src="@item.ImagePathHome" style="width:500px; height:500px; " alt="Ana Sayfa Hakkımda Resim">
                </a>
            </div>
                <div class="col-sm-12 col-lg-6">

                    <div class="main-about-content" style="">
                        <!-- About Content Start -->
                        <a href="/About/Index" >
                            <h4 class="main-about-content-subTitle">@item.TitleHome</h4>
                        </a>
                            <p class="main-about-content-p">@item.ContentHome</p>
                           
                        
                    </div>
                        <!-- About Content End -->
                    </div>
                    
                
                }
            </div>
            
    </div>

</div>
<!-- Main Page About End-->